.container-5{
  width: 100%;
  height: 80vh;
  background: url('1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.content-5{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  justify-content: right;
}
.content-5 h2{
  font-size: 35px;
  color: orangered;
}
.text-sci p{
  font-size: 100%;
  line-height: 1.5;
  color: whitesmoke;
  margin-top:0 ;
  text-align: justify;
}
.text-sci img{
   width: 200px;
  height: 200px;
  margin-top: 4%;
  margin-left: 140%;
  float: left;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 0 25px orangered;
}
